<plugin>
    <id>profile</id>
    <name>Extended Profiles</name>
    <description>Provides the ability to add and modify extended profile fields from within glFusion</description>
    <version>1.2.8.1</version>
    <glfusionversion>2.0.0</glfusionversion>
    <phpversion>7.4.0</phpversion>
    <url>http://www.leegarner.com</url>
    <maintainer>Lee Garner</maintainer>
    <requires>lglib,1.0.7</requires>
</plugin>
